.second-section
{
    @include breakpoint-up(large)
    {
        background-image: url('../../images/bg-tablet-pattern.svg');
        
        background-repeat: no-repeat;
        background-position: bottom 30px left -510px;

    }
}

.feature
{
    margin-bottom: 4.375rem;

    @include breakpoint-up(large)
    {
        display: flex;
        gap: 1.875rem;
        margin-bottom: 6.25rem;

    }
    &__text
    {

        flex: 1;
        h2
        {
            font-size: 1.8125rem;
            // line-height: 1.5;
            color: $darkBlue;
            text-align: center;
            margin-bottom: 1.6825rem;
            @include breakpoint-up(large)
            {
                font-size: 2.3125rem;
                text-align: start;
            }

        }

        p
        {
            font-size: $smallFont;
            
            line-height: 1.5;
            text-align: center;
            margin-bottom: 3.4375rem;
            @include breakpoint-up(large)
            {
                
                width: 65%;
                text-align: start;
            }
        }
    }

    &__cards
    {
        flex: 1;
    }
    

    &__headline
    {
        @include breakpoint-down(medium)
        {
            width: 110%;
            background-color: $veryPaleRed;
        }
        
        
        margin-bottom: 1rem;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }

    &__number
    {
        // display: inline-block;
        color: white;
        padding: 0.625rem 1.5rem;
        margin-right: 0.75rem;
        background-color: $brightRed;
        border-radius: 50px;
        @include breakpoint-up(large)
        {
            margin-right: 1.6875rem;
        }
    }
    &__title
    {
        font-size: $smallFont;
        color: $darkBlue;

        font-weight: 700;
    }

    &__description
    {
        font-size: 0.75rem;
        line-height: 1.7;
        margin-bottom: 2.8125rem;
        @include breakpoint-up(large)
        {
            font-size: $smallFont;
            padding-left: 5.9375rem;
            margin-bottom: 2.5rem;
        }
    }
    &__ctaButton
    {
        text-align: center;
    }
}

.container
{
    overflow: hidden;
}



// Carousel


.carousel

{
    overflow: hidden;
    @include breakpoint-up(large)
    {
        margin-bottom: 2.8125rem;
    }
    &__title
    {
        @include breakpoint-down(medium)
        {
            font-size: 1.8125rem;
        }
        font-size: 2.3125rem;
        color: $darkBlue;
        font-weight: 700;
        text-align: center;
        margin-bottom: 6.25rem;
    }
    &__card
    {
        position: relative;
        text-align: center;
        background-color: $veryLightGray;
        // padding-top: 60px;
        min-height: 12.125rem;
        
    }

    &__image
    {
        position: relative;
        // padding-bottom: 60px;
        
        img
        {
            position: absolute;
            height: 74px;
            width: 74px;
            
            top: -37px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__name
    {
        font-size: $smallFont;
        color: #242d52;
        font-weight: 700;
        // margin-bottom: 30px;
        padding-top: 60px;
        margin-bottom: 1.5rem;
    }

    &__description
    {
        font-size: $smallFont;
        padding-bottom: 37px;

    }
}

.owl-carousel .owl-item img
{
    height: 74px!important;
    width: 74px!important;
    

}

.owl-carousel .owl-stage-outer
{
    overflow: visible!important;
}

.owl-dots
{
    text-align: center;
    margin-top: 1.5rem!important;
    margin-bottom: 2.8125rem!important;

    @include breakpoint-up(medium)
    {
        display: none;
    }
}

.owl-dot{
    height: 11px;
    width: 11px;
    margin: 0 5px;
    outline: none;
    border-radius: 50%;
    border: 2px solid $brightRed!important;
    // box-shadow: 0px 4px 15px rgba(0,0,0,0.2);
    transition: all 0.3s ease;
  }
  .owl-dot.active,
  .owl-dot:hover{
    background: $brightRed!important;
  }

.owl-dot span
{
    display: none!important;
}


.wrapper
{

    margin-bottom: 2.8125rem;

    @include breakpoint-up(large)
    {
        margin-bottom: 11.25rem;
    }

}
